.register-widget {

	margin:60px auto 30px auto;
	width:60%;
	max-width: 500px;

	.start-text {
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color:softBlack;
	}

	.signupbox {
		#email, #signupButton {
			width: 80%;
	    min-width: 200px;
		}
		.invite-text {
			margin:20px 0px 70px 0px;
			color:softBlack;
			font-size: 16px;
			text-align: center;
			font-weight: bold;
			.user-confirmed {
				font-size: 25px;
				color:niceBlue;
				font-weight: bold;
				text-decoration: underline;
			}
		}
		.invite-box {
			padding:10px 10px 4px 10px;
			min-height: 30px;
			border:dotted 1px #cccccc;
			margin:5px 0px 10px 0px;
			.fb-share-button {
				min-width: 50px;
				float:left;
				margin-right: 10px;
   		 	margin-top: 5px;
   		}
		}

		#signupButton , #email {
			width:100%;
		}
		#email {
	    font-size: 18px;
	    color:#444444;
	    padding:2px 10px 2px 10px;
	    letter-spacing: 1.2px;
	    height: 50px;
    	line-height: 50px;
    	border-radius: 5px;
    	background-color:#F0F7F3;
    	border: solid 1px #cccccc;
			color:#444444;
			font-family: "Calibri";
		}

		#signupButton {
			background-color: niceBlue;
			font-weight: bold;
			border:solid 1px #cccccc;
			color:white;
			text-align: center;
			font-size: 16px;
			padding:10px;
			margin-top:20px;
			&:hover {
				cursor:pointer;
			}
			&.signup-disabled {
				opacity:0.5;
			}

		}

		.finished-message {
			color:niceBlue;
			font-size: 60px;
			font-weight: bold;
			display:none;
			text-align: center;
		}

		#message-wrapper {
			margin-top:20px;
			min-height: 20px;
			.message {
				display:none;
				color:#959B9D;
				font-size: 18px;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}

	&.register-widget-finished {
		.finished-message {
			display: block;		
		}
	}
}

