/**
 *
 *
 */

@import 'lib/variables';
@import 'lib/mixins';

@import 'layouts/layout';
@import 'layouts/header';
@import 'layouts/frontpage';
@import 'layouts/footer';
@import 'layouts/admin';

@import 'components/register-widget';
@import 'mobile';
