

transition-height()
 	-moz-transition: height arguments ease;
  -webkit-transition: height arguments ease;
  -o-transition: height arguments ease;
  transition: height arguments ease;

transition-fade()
   opacity: 1;
   transition: opacity arguments ease-in-out;
   -moz-transition: opacity arguments ease-in-out;
   -webkit-transition: opacity arguments ease-in-out;